<main class="friends-container">
  <header class="chats-header">
    <h3 class="title chats-header__title">
      Friends
    </h3>
    <div class="chats-header__input-box">
      {{#each searchInput}}
        {{{this}}}
      {{/each}}
      {{{searchIcon}}}
    </div>
    {{{userIcon}}}
  </header>

  <ul class="chats-list">
    {{#each friends}}
      {{{this}}}
    {{/each}}
  </ul>

  <header class="chats-header chats-header__groups">
    <h3 class="title chats-header__title">
      Groups
    </h3>
    {{{groupIcon}}}
  </header>

  <ul class="chats-list">
    {{#each groups}}
      {{{this}}}
    {{/each}}
  </ul>
  {{#if inviteModalIsOpen}}
    {{{inviteModal}}}
  {{/if}}
</main>
