<main class="friends-container">
  <header class="chats-header">
    <h3 class="title chats-header__title">
      Friends
    </h3>
    <div class="chats-header__input-box">
      <input
        class="input chats-header__input"
        type="text"
        name="search"
        id="search"
        placeholder="Search..."
      />
      {{{searchIcon}}}
    </div>
    {{{userIcon}}}
  </header>

  <ul class="chats-list">
    {{#each friends}}
      {{{ChatInfo
        id=id
        avatarSrc=avatar
        title=title
        lastMessage=lastMessage
        className="chats-list"
        numberNewMessages=numberNewMessages
        time=time
        isActive=isActive
        onClick=../handleClick
      }}}
    {{/each}}
  </ul>

  <header class="chats-header chats-header__groups">
    <h3 class="title chats-header__title">
      Groups
    </h3>
    {{{groupIcon}}}
  </header>

  <ul class="chats-list">
    {{#each groups}}
      {{{ChatInfo
        id=id
        avatarSrc=avatar
        title=title
        lastMessage=lastMessage
        className="chats-list"
        numberNewMessages=numberNewMessages
        time=time
        isActive=isActive
        onClick=../handleClick
      }}}
    {{/each}}
  </ul>
</main>
