<header class="profile-block">
  <div class="user-info profile-block__user-info">
    {{{avatar}}}
    <div class="user-title profile-block__user-title">
      <h2 class="user-name profile-block__user-name">
        {{userName}}
        <span>
          <img
            src={{arrowDownIcon}}
            class="arrow profile-block__arrow profile-block__arrow_down"
            alt="arrow"
          />
        </span>
      </h2>
      <p class="user-status profile-block__user-status {{userStatus}}">
        {{userStatus}}
      </p>
    </div>
    {{{settingsIcon}}}
  </div>

</header>
