<header class="chat-header {{#if isActive }} chat-header_active {{/if}}">
  {{{backArrow}}}
  <div class="user-info chat-header__user-info">
    {{{avatar}}}
    <div class="user-title chat-header__user-title">
      <h2 class="user-name chat-header__user-name">
        {{userName}}
      </h2>
      <p class="user-status chat-header__user-status {{ userStatus }}">
        {{userStatus}}
      </p>
    </div>
  </div>
  {{{moreIcon}}}
  {{#if isUserListOpen}}
  <div class="user-list__chat-header">
    <ul>
      {{#each userList}}
        {{{this}}}
      {{/each }}

    </ul>
  </div>
  {{/if}}
  {{#if isSettingsOpen}}
   {{{settingsPopup}}}
  {{/if}}
  {{#if isModalOpen}}
    {{{inviteModal}}}
  {{/if}}
</header>
