<header class="chat-header {{#if isActive }} chat-header_active {{/if}}">
  <div class="user-info chat-header__user-info">
    {{{avatar}}}
    <div class="user-title chat-header__user-title">
      <h2 class="user-name chat-header__user-name">
        {{userName}}
      </h2>
      <p class="user-status chat-header__user-status {{ userStatus }}">
        {{userStatus}}
      </p>
    </div>
  </div>
  {{{moreIcon}}}
{{#if isModalOpen}}
  {{{inviteModal}}}
  {{/if}}
</header>
