<main class="container">
  {{{navBar}}}
  <div class="avatar-box profile-page__avatar-box">
    {{{avatar}}}
    <h2 class="title avatar-box__title">
      Change avatar
    </h2>
  </div>

  {{#if isChangeProfile}}
    {{{changeProfileForm}}}
  {{else}}
    {{#if isChangePassword}}
      {{{changePasswordForm}}}
    {{else}}
      {{{profileForm}}}
    {{/if}}
  {{/if}}
  {{#if isChangeAvatar}}
    {{{changeAvatarModal}}}
  {{/if}}
  {{{loader}}}
  <div class="side-panel">
    {{{sideButton}}}
  </div>
</main>