<li class="chat-info chats-list__chat-info {{#if isActive }} chats-list__chat-info_active {{/if}}">
  <div class="avatar-container chat-info__avatar-container {{#if isActive }} chat-info__avatar-container_active {{/if}}">
    {{{ avatar }}}
  </div>

  <div class="friends-info {{ className }}__friends-info">
    <h2 class="friends-name {{ className }}__friends-name">
      {{ title }}
    </h2>
    <p class="last-message {{ className }}__last-message">
      {{ last_message.content }}
    </p>
  </div>
  <div class="status-chat {{ className }}__status-chat">
    <span class="{{ className }}__number-messages {{#if unread_count }} number-messages {{else}} number-messages_none {{/if}}">
      {{ unread_count }}
    </span>
      {{#if deleteLink}}
        {{{ deleteLink }}}
      {{/if}}
    <span class="time-messages {{ className }}__time-messages">
      {{ last_message.time }}
    </span>
  </div>
</li>
