<li>
  <div class="message {{#if my }}align-right{{/if}}">
    {{#if my }}
      {{#unless image }}
        <span class="time-message message__time-message">
          {{ time }}
        </span>
      {{/unless}}
    {{/if}}
    <div class="message-body message__message-body {{#if my }}align-right{{/if}}">
      {{#if my }}
        <div class="name-box message__name-box">
          {{{ icon }}}
          <h2 class="friends-name message-body__friends-name message-body__friends-name_align-right">
            You
          </h2>
        </div>
      {{else}}
        <h2 class="friends-name message-body__friends-name">
            {{ from }}
        </h2>
      {{/if}}
      {{#if image }}
        <div class="image-box message-body__image-box">
          {{{arrowDownIcon}}}
          <img class="image image-box__image" src={{ image }} alt="image"/>
          <span class="time-message image-box__time-message">
            {{ time }}
          </span>
        </div>
      {{/if}}
      {{#if text }}
        <p class="text {{ classNames }}__text">
          {{ text }}
        </p>
      {{/if}}
    </div>
    {{#unless my }}
      {{#unless image }}
          <span class="time-message message__time-message">
            {{ time }}
          </span>
      {{/unless}}
    {{/unless}}
  </div>
</li>
